@font-face {
  font-family: "Avenir-Regular";
  src: local("Avenir-Regular"),
    url("./assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Avenir-It";
  src: local("Avenir-It"),
    url("./assets/fonts/AvenirNextLTPro-It.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Avenir-Bold";
  src: local("Avenir-Bold"),
    url("./assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: normal;
}

* {
  font-family: "Avenir-Regular";
}
